= form_tag movies_path, :method => :get do
  = hidden_field_tag 'order_by', @params[:order_by]
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @params[:ratings][rating]
  = submit_tag 'Refresh', :id => 'ratings_submit'

